<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Search to get back the top 5 Reddit post!
  </h1>
</div>
<br>
<div>
  <label for="Subject"></label>
  <input name = 'subject' type="text" [(ngModel)]= "query">
  <!-- (click)= click event -->
  <button (click)="searchPosts()">Submit</button>
</div>

<!-- //ngfor only understands arrays -->
<div>
  <input type="text" placeholder="Search List" class= "filter-input" [(ngModel)]="searchText">
  <br><br>
  <ul>
    <div class = 'row'>
      <div class="col-md-1" style="text-align:center">
      </div>
      <div class="col-md-2" style="text-align:center">
        <p style="text-align:center;color:maroon;">Title</p>
          <br><br>
      </div>
      <div class="col-md-2" style="text-align:center">
        <p style="text-align:center;color:maroon;">Picture</p>
        <br><br>
      </div>
      <div class="col-md-2" style="text-align:center">
        <p style="text-align:center;color:maroon;">Reddit Poster</p>
        <br><br>
      </div>
      <div class="col-md-2" style="text-align:center">
        <p style="text-align:center;color:maroon;">Up votes</p>
        <br><br>
      </div>
      <div class="col-md-2" style="text-align:center">
        <p style="text-align:center;color:maroon;">Date posted</p>
        <br><br>
      </div>
      <div class="col-md-1" style="text-align:center">
      </div>
    </div>
    <!-- <li *ngFor="let post of postList | searchBy: ['data.title']: [searchText]"> -->
    <div class = 'row' *ngFor="let post of postList | searchBy: ['data.title']: [searchText]">
      <div class="col-md-1" style="text-align:center">
      </div>
      <div class="col-md-2" style="text-align:center">
        <a href="{{ post.data.url }}">
          {{ post.data.title }}
          <br><br><br>
        </a>
      </div>
      <div class="col-md-2" style="text-align:center">
        <img src="{{ post.data.thumbnail }}" alt="">
        <br><br><br>
      </div>
      <div class="col-md-2" style="text-align:center">
        {{ post.data.author }}
        <br><br><br>
      </div>
      <div class="col-md-2" style="text-align:center">
        {{ post.data.ups }}
        <br><br><br>
      </div>
      <div class="col-md-2" style="text-align:center">
        {{ post.data.created | date }}
        <br><br><br>
      </div>
      <div class="col-md-1" style="text-align:center">
      </div>
    </div>
    <!-- </li> -->
  </ul>
</div>
